{% extends "base.html" %}
{% block content %}
	<!-- Container -->
	<div id="container">

		{% include "header.html" %}

		{% include "slider.html" %}

		<!-- block-wrapper-section
			================================================== -->
		<section class="block-wrapper shadow-white">

			<div class="list-line-posts">
				<div class="container">

					<div class="owl-wrapper">
						<div class="owl-carousel" data-num="4">

							<div class="item list-post">
								<img src="upload/news-posts/listw5.jpg" alt="">
								<div class="post-content">
									<a href="https://nunforest.com/hotmagazine-demo/default/food.html">Food &amp; Health</a>
									<h2><a href="single-post.html">Donec odio. Quisque volutpat mattis eros. </a></h2>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>27 may 2013</li>
									</ul>
								</div>
							</div>

							<div class="item list-post">
								<img src="upload/news-posts/listw4.jpg" alt="">
								<div class="post-content">
									<a href="https://nunforest.com/hotmagazine-demo/default/business.html">business</a>
									<h2><a href="single-post.html">Nullam malesuada erat ut turpis. </a></h2>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>27 may 2013</li>
									</ul>
								</div>
							</div>

							<div class="item list-post">
								<img src="upload/news-posts/listw3.jpg" alt="">
								<div class="post-content">
									<a href="https://nunforest.com/hotmagazine-demo/default/travel.html">travel</a>
									<h2><a href="single-post.html">Aliquam porttitor mauris sit amet orci. </a></h2>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>27 may 2013</li>
									</ul>
								</div>
							</div>

							<div class="item list-post">
								<img src="upload/news-posts/listw2.jpg" alt="">
								<div class="post-content">
									<a href="https://nunforest.com/hotmagazine-demo/default/travel.html">travel</a>
									<h2><a href="single-post.html">Morbi in sem quis dui placerat ornare. </a></h2>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>27 may 2013</li>
									</ul>
								</div>
							</div>

							<div class="item list-post">
								<img src="upload/news-posts/listw1.jpg" alt="">
								<div class="post-content">
									<a href="https://nunforest.com/hotmagazine-demo/default/food.html">Food &amp; Health</a>
									<h2><a href="single-post.html">Morbi in sem quis dui placerat ornare. </a></h2>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>27 may 2013</li>
									</ul>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-8">

						<!-- block content -->
						<div class="block-content">

							<!-- grid box -->
							<div class="grid-box">
								<div class="news-post very-large-post">
									<div class="title-post">
										<a class="category-post world" href="https://nunforest.com/hotmagazine-demo/default/world.html">Business</a>
										<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam.<br> Sed arcu. Cras consequat.</a></h2>
										<ul class="post-tags">
											<li><i class="fa fa-clock-o"></i>27 may 2013</li>
											<li><i class="fa fa-user"></i>by <a href="home5.html#">John Doe</a></li>
											<li><a href="home5.html#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
											<li><i class="fa fa-eye"></i>872</li>
										</ul>
									</div>
									<div class="post-gallery">
										<img src="upload/news-posts/large5.jpg" alt="">
									</div>
									<div class="post-content">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
										<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
										<a href="single-post.html" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
										<div class="share-box">
											<a class="likes" href="home5.html#"><i class="fa fa-heart-o"></i> <span>0</span></a>
											<ul class="share-list-post">
												<li><i class="fa fa-share-alt"></i><span>Share Post</span></li>
												<li><a class="facebook" href="home5.html#"><i class="fa fa-facebook"></i></a></li>
												<li><a class="google" href="home5.html#"><i class="fa fa-google-plus"></i></a></li>
												<li><a class="twitter" href="home5.html#"><i class="fa fa-twitter"></i></a></li>
												<li><a class="pinterest" href="home5.html#"><i class="fa fa-pinterest"></i></a></li>
												<li><a class="rss" href="home5.html#"><i class="fa fa-rss"></i></a></li>
											</ul>
										</div>
									</div>
								</div>

								<div class="other-posts-box">
									<div class="title-section">
										<h1><span>You Might Also Like</span></h1>
									</div>

									<div class="row">

										<div class="col-md-4">
											<div class="news-post standard-post2">
												<div class="post-gallery">
													<img src="upload/news-posts/art1.jpg" alt="">
												</div>
												<div class="post-title">
													<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>27 may 2013</li>
													</ul>
												</div>
											</div>
										</div>	

										<div class="col-md-4">
											<div class="news-post standard-post2">
												<div class="post-gallery">
													<img src="upload/news-posts/art2.jpg" alt="">
												</div>
												<div class="post-title">
													<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>27 may 2013</li>
													</ul>
												</div>
											</div>
										</div>	

										<div class="col-md-4">
											<div class="news-post standard-post2">
												<div class="post-gallery">
													<img src="upload/news-posts/art3.jpg" alt="">
												</div>
												<div class="post-title">
													<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>27 may 2013</li>
													</ul>
												</div>
											</div>
										</div>		

									</div>

								</div>

								<div class="news-post very-large-post">
									<div class="title-post">
										<a class="category-post food" href="https://nunforest.com/hotmagazine-demo/default/food.html">Food &amp; Health</a>
										<h2><a href="single-post.html">Fusce lacinia arcu et nulla. Nulla vitae mauris non felis mollis faucibus.</a></h2>
										<ul class="post-tags">
											<li><i class="fa fa-clock-o"></i>27 may 2013</li>
											<li><i class="fa fa-user"></i>by <a href="home5.html#">John Doe</a></li>
											<li><a href="home5.html#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
											<li><i class="fa fa-eye"></i>872</li>
										</ul>
									</div>
									<div class="post-gallery">
										<div class="group-image">
											<a class="zoom big-size" href="upload/news-posts/mas1.jpg"><img src="upload/news-posts/mas1.jpg" alt=""></a>
											<a class="zoom" href="upload/news-posts/mas2.jpg"><img src="upload/news-posts/mas2.jpg" alt=""></a>
											<a class="zoom" href="upload/news-posts/mas3.jpg"><img src="upload/news-posts/mas3.jpg" alt=""></a>
											<a class="zoom big-size" href="upload/news-posts/mas4.jpg"><img src="upload/news-posts/mas4.jpg" alt=""></a>
										</div>
									</div>
									<div class="post-content">
										<p>Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
										<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
										<blockquote><p>Cras consequat. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis.</p></blockquote>
										<div class="article-inpost">
											<img src="upload/news-posts/z1.jpg" alt="">
											<div class="right-content">
												<p class="highlight">Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
												<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.<br> Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
											</div>
										</div>
										<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
										<a href="single-post.html" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
										<div class="share-box">
											<a class="likes" href="home5.html#"><i class="fa fa-heart-o"></i> <span>0</span></a>
											<ul class="share-list-post">
												<li><i class="fa fa-share-alt"></i><span>Share Post</span></li>
												<li><a class="facebook" href="home5.html#"><i class="fa fa-facebook"></i></a></li>
												<li><a class="google" href="home5.html#"><i class="fa fa-google-plus"></i></a></li>
												<li><a class="twitter" href="home5.html#"><i class="fa fa-twitter"></i></a></li>
												<li><a class="pinterest" href="home5.html#"><i class="fa fa-pinterest"></i></a></li>
												<li><a class="rss" href="home5.html#"><i class="fa fa-rss"></i></a></li>
											</ul>
										</div>
									</div>
								</div>

							</div>
							<!-- End grid box -->

							<!-- google addsense -->
							<div class="advertisement">
								<div class="desktop-advert">
									<span>Advertisement</span>
									<img src="upload/addsense/600x80.jpg" alt="">
								</div>
								<div class="tablet-advert">
									<span>Advertisement</span>
									<img src="upload/addsense/468x60-white.jpg" alt="">
								</div>
								<div class="mobile-advert">
									<span>Advertisement</span>
									<img src="upload/addsense/300x250.jpg" alt="">
								</div>
							</div>
							<!-- End google addsense -->

							<!-- grid box -->
							<div class="grid-box">

								<div class="news-post banner-quote-post">
									<div class="quote">
										<p>Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
										<span><i class="fa fa-user"></i> by John Doe</span>
									</div>
								</div>

								<div class="news-post very-large-post">
									<div class="title-post">
										<a class="category-post fashion" href="https://nunforest.com/hotmagazine-demo/default/fashion.html">Fashion</a>
										<h2><a href="single-post.html">Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</a></h2>
										<ul class="post-tags">
											<li><i class="fa fa-clock-o"></i>27 may 2013</li>
											<li><i class="fa fa-user"></i>by <a href="home5.html#">John Doe</a></li>
											<li><a href="home5.html#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
											<li><i class="fa fa-eye"></i>872</li>
										</ul>
									</div>
									<div class="post-gallery">
										<ul class="slider-call">
											<li><img src="upload/news-posts/large6.jpg" alt=""/></li>
											<li><img src="upload/news-posts/large1.jpg" alt=""/></li>
											<li><img src="upload/news-posts/large2.jpg" alt=""/></li>
											<li><img src="upload/news-posts/large4.jpg" alt=""/></li>
											<li><img src="upload/news-posts/large3.jpg" alt=""/></li>
										</ul>
										<div id="bx-pager">
											<a data-slide-index="0" href="home5.html"><img src="upload/news-posts/thumb1.jpg" alt=""/></a>
											<a data-slide-index="1" href="home5.html"><img src="upload/news-posts/thumb2.jpg" alt=""/></a>
											<a data-slide-index="2" href="home5.html"><img src="upload/news-posts/thumb3.jpg" alt=""/></a>
											<a data-slide-index="3" href="home5.html"><img src="upload/news-posts/thumb4.jpg" alt=""/></a>
											<a data-slide-index="4" href="home5.html"><img src="upload/news-posts/thumb5.jpg" alt=""/></a>
										</div>
									</div>
									<div class="post-content">
										<p>Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. <br> Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor.</p>
										<a href="single-post.html" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
										<div class="share-box">
											<a class="likes" href="home5.html#"><i class="fa fa-heart-o"></i> <span>0</span></a>
											<ul class="share-list-post">
												<li><i class="fa fa-share-alt"></i><span>Share Post</span></li>
												<li><a class="facebook" href="home5.html#"><i class="fa fa-facebook"></i></a></li>
												<li><a class="google" href="home5.html#"><i class="fa fa-google-plus"></i></a></li>
												<li><a class="twitter" href="home5.html#"><i class="fa fa-twitter"></i></a></li>
												<li><a class="pinterest" href="home5.html#"><i class="fa fa-pinterest"></i></a></li>
												<li><a class="rss" href="home5.html#"><i class="fa fa-rss"></i></a></li>
											</ul>
										</div>
									</div>
								</div>

								<div class="other-posts-box">
									<div class="title-section">
										<h1><span>You Might Also Like</span></h1>
									</div>

									<div class="row">

										<div class="col-md-4">
											<div class="news-post standard-post2">
												<div class="post-gallery">
													<img src="upload/news-posts/art4.jpg" alt="">
												</div>
												<div class="post-title">
													<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>27 may 2013</li>
													</ul>
												</div>
											</div>
										</div>	

										<div class="col-md-4">
											<div class="news-post standard-post2">
												<div class="post-gallery">
													<img src="upload/news-posts/art5.jpg" alt="">
												</div>
												<div class="post-title">
													<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>27 may 2013</li>
													</ul>
												</div>
											</div>
										</div>	

										<div class="col-md-4">
											<div class="news-post standard-post2">
												<div class="post-gallery">
													<img src="upload/news-posts/art6.jpg" alt="">
												</div>
												<div class="post-title">
													<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>27 may 2013</li>
													</ul>
												</div>
											</div>
										</div>		

									</div>

								</div>

								<div class="news-post very-large-post">
									<div class="title-post">
										<a class="category-post world" href="https://nunforest.com/hotmagazine-demo/default/world.html">World</a>
										<h2><a href="single-post.html">Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. Nullam malesuada erat ut turpis. </a></h2>
										<ul class="post-tags">
											<li><i class="fa fa-clock-o"></i>27 may 2013</li>
											<li><i class="fa fa-user"></i>by <a href="home5.html#">John Doe</a></li>
											<li><a href="home5.html#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
											<li><i class="fa fa-eye"></i>872</li>
										</ul>
									</div>
									<div class="post-content">
										<p>Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. <br> Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor.</p>
										<p class="highlight">Lorem ipsum dolor sit amet, cotur acing elit. Ut euis eget dolor sit amet congue. Ut vira codo matis. Sed lacia luctus magna ut sodales. Proin massa quam, tincidunt id sem at, blandit viverra justo. </p>

										<p>Nullam fringilla nunc in nulla rutrum, eu mollis felis lobortis. In hac habitasse platea dictumst. Nullam sed diam et lectus eleifend commodo. Cras fringilla eros id ipsum suscipit tincidunt. Lorem ipsum dolor sit amet, cotur acing elit. Ut euis eget dolor sit amet congue. Ut vira codo matis. Sed lacia luctus magna ut sodales. </p>
										<a href="single-post.html" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
										<div class="share-box">
											<a class="likes" href="home5.html#"><i class="fa fa-heart-o"></i> <span>0</span></a>
											<ul class="share-list-post">
												<li><i class="fa fa-share-alt"></i><span>Share Post</span></li>
												<li><a class="facebook" href="home5.html#"><i class="fa fa-facebook"></i></a></li>
												<li><a class="google" href="home5.html#"><i class="fa fa-google-plus"></i></a></li>
												<li><a class="twitter" href="home5.html#"><i class="fa fa-twitter"></i></a></li>
												<li><a class="pinterest" href="home5.html#"><i class="fa fa-pinterest"></i></a></li>
												<li><a class="rss" href="home5.html#"><i class="fa fa-rss"></i></a></li>
											</ul>
										</div>
									</div>
								</div>

								<div class="news-post very-large-post">
									<div class="title-post">
										<a class="category-post video" href="video.html">Video</a>
										<a class="category-post travel" href="https://nunforest.com/hotmagazine-demo/default/travel.html">travel</a>
										<h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</a></h2>
										<ul class="post-tags">
											<li><i class="fa fa-clock-o"></i>27 may 2013</li>
											<li><i class="fa fa-user"></i>by <a href="home5.html#">John Doe</a></li>
											<li><a href="home5.html#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
											<li><i class="fa fa-eye"></i>872</li>
										</ul>
									</div>
									<div class="post-gallery">
										<!-- Vimeo -->
										<iframe class="videoembed" src="http://player.vimeo.com/video/118619069?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
										<!-- End Vimeo -->
									</div>
									<div class="post-content">
										<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
										<a href="single-post.html" class="read-more-button"><i class="fa fa-arrow-circle-right"></i>Read More</a>
										<div class="share-box">
											<a class="likes" href="home5.html#"><i class="fa fa-heart-o"></i> <span>0</span></a>
											<ul class="share-list-post">
												<li><i class="fa fa-share-alt"></i><span>Share Post</span></li>
												<li><a class="facebook" href="home5.html#"><i class="fa fa-facebook"></i></a></li>
												<li><a class="google" href="home5.html#"><i class="fa fa-google-plus"></i></a></li>
												<li><a class="twitter" href="home5.html#"><i class="fa fa-twitter"></i></a></li>
												<li><a class="pinterest" href="home5.html#"><i class="fa fa-pinterest"></i></a></li>
												<li><a class="rss" href="home5.html#"><i class="fa fa-rss"></i></a></li>
											</ul>
										</div>
									</div>
								</div>

							</div>
							<!-- End grid box -->

							<!-- Pagination box -->
							<div class="pagination-box">
								<ul class="pagination-list">
									<li><a class="active" href="home5.html#">1</a></li>
									<li><a href="home5.html#">2</a></li>
									<li><a href="home5.html#">3</a></li>
									<li><span>...</span></li>
									<li><a href="home5.html#">9</a></li>
									<li><a href="home5.html#">Next</a></li>
								</ul>
								<p>Page 1 of 9</p>
							</div>
							<!-- End Pagination box -->

						</div>
						<!-- End block content -->

					</div>

					<div class="col-md-3 col-sm-4">

						<!-- sidebar -->
						<div class="sidebar large-sidebar">

							<div class="widget search-widget">
								<form role="search" class="search-form">
									<input type="text" id="search2" name="search" placeholder="Search here">
									<button type="submit" id="search-submit2"><i class="fa fa-search"></i></button>
								</form>
							</div>

							<div class="widget social-widget">
								<div class="title-section">
									<h1><span>Stay Connected</span></h1>
								</div>
								<ul class="social-share">
									<li>
										<a href="home5.html#" class="rss"><i class="fa fa-rss"></i></a>
										<span class="number">9,455</span>
										<span>Subscribers</span>
									</li>
									<li>
										<a href="home5.html#" class="facebook"><i class="fa fa-facebook"></i></a>
										<span class="number">56,743</span>
										<span>Fans</span>
									</li>
									<li>
										<a href="home5.html#" class="twitter"><i class="fa fa-twitter"></i></a>
										<span class="number">43,501</span>
										<span>Followers</span>
									</li>
									<li>
										<a href="home5.html#" class="google"><i class="fa fa-google-plus"></i></a>
										<span class="number">35,003</span>
										<span>Followers</span>
									</li>
								</ul>
							</div>

							<div class="widget features-slide-widget">
								<div class="title-section">
									<h1><span>Featured Posts</span></h1>
								</div>
								<div class="image-post-slider">
									<ul class="bxslider">
										<li>
											<div class="news-post image-post2">
												<div class="post-gallery">
													<img src="upload/news-posts/im3.jpg" alt="">
													<div class="hover-box">
														<div class="inner-hover">
															<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
															<ul class="post-tags">
																<li><i class="fa fa-clock-o"></i>27 may 2013</li>
																<li><a href="home5.html#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="news-post image-post2">
												<div class="post-gallery">
													<img src="upload/news-posts/im1.jpg" alt="">
													<div class="hover-box">
														<div class="inner-hover">
															<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
															<ul class="post-tags">
																<li><i class="fa fa-clock-o"></i>27 may 2013</li>
																<li><a href="home5.html#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="news-post image-post2">
												<div class="post-gallery">
													<img src="upload/news-posts/im2.jpg" alt="">
													<div class="hover-box">
														<div class="inner-hover">
															<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
															<ul class="post-tags">
																<li><i class="fa fa-clock-o"></i>27 may 2013</li>
																<li><a href="home5.html#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<ul class="list-posts">

									<li>
										<img src="upload/news-posts/listw5.jpg" alt="">
										<div class="post-content">
											<h2><a href="single-post.html">Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</a></h2>
											<ul class="post-tags">
												<li><i class="fa fa-clock-o"></i>27 may 2013</li>
											</ul>
										</div>
									</li>
									<li>
										<img src="upload/news-posts/listw1.jpg" alt="">
										<div class="post-content">
											<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
											<ul class="post-tags">
												<li><i class="fa fa-clock-o"></i>27 may 2013</li>
											</ul>
										</div>
									</li>

									<li>
										<img src="upload/news-posts/listw2.jpg" alt="">
										<div class="post-content">
											<h2><a href="single-post.html">Sed arcu. Cras consequat.</a></h2>
											<ul class="post-tags">
												<li><i class="fa fa-clock-o"></i>27 may 2013</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>

							<div class="advertisement">
								<div class="desktop-advert">
									<span>Advertisement</span>
									<img src="upload/addsense/250x250.jpg" alt="">
								</div>
								<div class="tablet-advert">
									<span>Advertisement</span>
									<img src="upload/addsense/200x200.jpg" alt="">
								</div>
								<div class="mobile-advert">
									<span>Advertisement</span>
									<img src="upload/addsense/300x250.jpg" alt="">
								</div>
							</div>

							<div class="widget tab-posts-widget">

								<ul class="nav nav-tabs" id="myTab">
									<li class="active">
										<a href="home5.html#option1" data-toggle="tab">Popular</a>
									</li>
									<li>
										<a href="home5.html#option2" data-toggle="tab">Recent</a>
									</li>
								</ul>

								<div class="tab-content">
									<div class="tab-pane active" id="option1">
										<ul class="list-posts">
											<li>
												<img src="upload/news-posts/listw1.jpg" alt="">
												<div class="post-content">
													<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>27 may 2013</li>
													</ul>
												</div>
											</li>

											<li>
												<img src="upload/news-posts/listw2.jpg" alt="">
												<div class="post-content">
													<h2><a href="single-post.html">Sed arcu. Cras consequat. </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>27 may 2013</li>
													</ul>
												</div>
											</li>

											<li>
												<img src="upload/news-posts/listw3.jpg" alt="">
												<div class="post-content">
													<h2><a href="single-post.html">Phasellus ultrices nulla quis nibh. Quisque a lectus.  </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>27 may 2013</li>
													</ul>
												</div>
											</li>

											<li>
												<img src="upload/news-posts/listw4.jpg" alt="">
												<div class="post-content">
													<h2><a href="single-post.html">Donec consectetuer ligula vulputate sem tristique cursus. </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>27 may 2013</li>
													</ul>
												</div>
											</li>

											<li>
												<img src="upload/news-posts/listw5.jpg" alt="">
												<div class="post-content">
													<h2><a href="single-post.html">Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi. </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>27 may 2013</li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
									<div class="tab-pane" id="option2">
										<ul class="list-posts">

											<li>
												<img src="upload/news-posts/listw3.jpg" alt="">
												<div class="post-content">
													<h2><a href="single-post.html">Phasellus ultrices nulla quis nibh. Quisque a lectus. </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>27 may 2013</li>
													</ul>
												</div>
											</li>

											<li>
												<img src="upload/news-posts/listw4.jpg" alt="">
												<div class="post-content">
													<h2><a href="single-post.html">Donec consectetuer ligula vulputate sem tristique cursus. </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>27 may 2013</li>
													</ul>
												</div>
											</li>

											<li>
												<img src="upload/news-posts/listw5.jpg" alt="">
												<div class="post-content">
													<h2><a href="single-post.html">Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>27 may 2013</li>
													</ul>
												</div>
											</li>
											<li>
												<img src="upload/news-posts/listw1.jpg" alt="">
												<div class="post-content">
													<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>27 may 2013</li>
													</ul>
												</div>
											</li>

											<li>
												<img src="upload/news-posts/listw2.jpg" alt="">
												<div class="post-content">
													<h2><a href="single-post.html">Sed arcu. Cras consequat.</a></h2>
													<ul class="post-tags">
														<li><i class="fa fa-clock-o"></i>27 may 2013</li>
													</ul>
												</div>
											</li>
										</ul>										
									</div>
								</div>
							</div>

							<div class="widget post-widget">
								<div class="title-section">
									<h1><span>Featured Video</span></h1>
								</div>
								<div class="news-post video-post">
									<img alt="" src="upload/news-posts/video-sidebar.jpg">
									<a href="https://www.youtube.com/watch?v=LL59es7iy8Q" class="video-link"><i class="fa fa-play-circle-o"></i></a>
									<div class="hover-box">
										<h2><a href="single-post.html">Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. </a></h2>
										<ul class="post-tags">
											<li><i class="fa fa-clock-o"></i>27 may 2013</li>
										</ul>
									</div>
									<p></p>
								</div>
								<p>Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis. </p>
							</div>

						</div>
						<!-- End sidebar -->

					</div>

				</div>

			</div>
		</section>
		<!-- End block-wrapper-section -->

		{% include "footer.html" %}

	</div>
	<!-- End Container -->
{% endblock content %}